body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slide-enter {
    opacity: 0;
    transform: translate(40vw, 0);
    z-index: 10;
}

.slide-enter.slide-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 300ms ease-out, opacity 500ms ease;
}